.total-div {
  margin: 100px auto;
  padding: 50px;
  width: 400px;
  background-color: #d2e0fb;
  border-radius: 18px;
  background-image: url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dG8lMjBkb3xlbnwwfHwwfHx8MA%3D%3D");
}
.total-div:hover {
  transform: scale(1.2, 1.2);
  transition: transform 0.05s;
}
h1 {
  color: white;
}
.total-div {
  text-align: center;
}
.add-form {
  padding-bottom: 40px;
}
.add-form input {
  width: 200px;
  height: 30px;
  border-radius: 8px;
  margin-right: 10px;
}
.add-form button {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 6px;
}
.list {
  margin: 10px auto;
  padding: 10px 20px;
  width: 280px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  border-radius: 15px;
  box-shadow: 3px 3px 5px black;
}
.list input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.list p {
  font-size: 18px;
  font-weight: 700;
}
.list button {
  margin: 5px;
  font-size: 18px;
  padding: 2px 8px;
  border-radius: 6px;
}
.inp-text {
  display: flex;
  align-items: center;
}
